.NavbarItems {
    /* background: linear-gradient(90deg, rgb(110,94,254) 0%, rgba(73,63,252,1)100%); */
    /* background:linear-gradient(black, rgb(39, 39, 39)); */
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.portfolio{ margin: 0;
    border: dashed black 3px;
    font-size: 1.4rem;
   text-align: center;
}

.foto{
    border: dashed black 3px;
    margin: auto;
    background-image: url(/src/assets/img/MR2.jpg);
    background-size: cover;
     border-radius: 50%;
     height: 270px;
     width: 270px;
 }

.mariano{
    border: dashed black 3px;
    text-align: center;
}



@media screen and (max-width:960px){

    .portfolio{
        font-size: 1.0rem;
        margin: 10px;
        text-align: center;
    }
    
    .foto{
        margin: auto;
        background-image: url(/src/assets/img/MR2.jpg);
        background-size: cover;
         border-radius: 50%;
         height: 200px;
         width: 200px;
     }
    
    .mariano{
        font-size: 0.8rem;
        text-align: center;
    }
}